<launch>
    <arg name="param_fp" default="$(find zed_3D_detection)/params" />

    <include file="$(find zed_wrapper)/launch/zed2i.launch"/>

    <node name="camera_excalib" pkg="zed_3D_detection" type="calibration.py" output="screen">
        <param name="~param_fp" value="$(arg param_fp)"/>
    </node>

</launch>